html{
    scroll-behavior: smooth;
}
body{
    background-image: url(../../assets/images/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#progress{
    /* background:#03cc65; */
    position:fixed;
    bottom:20px;
    right:10px;
    height:70px;
    width:70px;
    display:none;
    place-items:center;
    border-radius:50%;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    cursor:pointer;
}
#progress-value{
    display:block;
    height:calc(100% - 15px);
    width:calc(100% - 15px);
    background-color:#fff;
    border-radius:100%;
    display:grid;
    place-items:center;
    font-size:35px;
    color:#001a2e;
}
section.home{
    margin-top: 15rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
    gap: 1.5rem;
}

section.home .home_content{
    margin: 2rem;
}
section.home .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

section.home .btn-box .m_btnb {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 100%;
    background-color: #22C55E;
    border: .2rem solid #22C55E;
    border-radius: .8rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #081b29;
    z-index: 1;
    overflow: hidden;
    transform: all 400ms ease;
}

section.home .btn-box .m_btnb:hover{
    color: #22C55E;
}

section.home .btn-box .m_btnb:nth-child(2) {
    background-color: #081b29;
    color: #22C55E;
}

section.home .btn-box .m_btnb:nth-child(2):hover {
    color: #081b29;
}

section.home .btn-box .m_btnb:nth-child(2)::before {
    background-color: #22C55E;
}

section.home .btn-box .m_btnb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: all 400ms ease;
}

section.home .btn-box .m_btnb:hover::before {
    width: 100%;
}


section.home .home-sci {
    position: absolute;
    /* bottom: 1rem; */
    margin-top: 1rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

section.home .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: .2rem solid #22C55E;
    border-radius: 50%;
    font-size: 20px;
    color: #22C55E;
    overflow: hidden;
    z-index: 1;
    transition: all 400ms ease;
}

section.home .home-sci a:hover {
    color: #081b29;
}

section.home .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #22C55E;
    z-index: -1;
    transition: all 400ms ease;
}

section.home .home-sci a:hover::before {
    width: 100%;
}

section.home .home_content .text_animation h3{
    position:relative;
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #22C55E;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#22C55E),to(#22C55E));
    background-image: -o-linear-gradient(#22C55E),var(#22C55E);
    background-image: linear-gradient(#22C55E),var(#22C55E);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -15rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 4s;
}
section.home .home_left  h1{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem;
    font-weight: bold;
    margin-left:32px;
}


@keyframes homeBgText {
    0%, 10%, 100%{
        background-position: -33.3rem 0;
    }
    65%, 85%{
        background-position: 0 0;
    }
}
@keyframes homeCursorText {
    0%, 10%, 100%{
        width: 0;
    }
    65%, 85%{
        width: 100%;
        opacity: 1;
    }
    75%, 81%{
        opacity: 0;
    }
}

section.home .home_content .text_animation h3::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid #22C55E;
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s ;
}


section.home .profile-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home .profile-area .inner-circle img{
    width: 20rem;
    height: 20rem;
    border-radius: 25px;
    overflow: hidden;
    border: 1 solid #22C55E;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 }




          /* Media queries apply */




 @media only screen and (min-width:0px) and (max-width:319px){
    section.home{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-items: center;
        margin: 0 auto;
    }
    section.home .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }
    section.home .home_left .home_content{
        margin: 0 auto;
    }
    section.home .home_left .btn-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    section.home .home_left .home-sci{
        margin-top: 22rem;
    }

    section.home .home_left .home_content .text_animation h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0;
    }
    section.home .profile-area .inner-circle img{
        width: 15rem;
        height: 15rem;
        margin: 55px auto;
    }
    section.home .home_left h1{
        font-size: 1.45rem;
        margin: auto;
    }
 }
 @media only screen and (min-width:320px) and (max-width:468px){
    section.home{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-items: center;
        margin: 0 auto;
    }
    section.home .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }
    section.home .home_left .home_content{
        margin: 0 auto;
    }
    section.home .home_left .btn-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    section.home .home_left .home-sci{
        margin-top: 22rem;
    }

    section.home .home_left .home_content .text_animation h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0;
    }
    section.home .profile-area .inner-circle img{
        width: 15rem;
        height: 15rem;
        margin: 55px auto;
    }
    section.home .home_left h1{
        font-size: 1.45rem;
        margin: auto;
    }
 }
 @media only screen and (min-width:469px) and (max-width:768px){
    section.home{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        place-items: center;
        margin: 0 auto;
    }
    section.home .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    }
    section.home .home_left .home_content{
        margin: 0 auto;
    }
    section.home .home_left .btn-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    section.home .home_left .home-sci{
        margin-top: 22rem;
    }

    section.home .home_left .home_content .text_animation h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0;
    }
    section.home .profile-area .inner-circle img{
        width: 15rem;
        height: 15rem;
        margin: 55px auto;
    }
    section.home .home_left h1{
        font-size: 1.45rem;
        margin: auto;
    }
 }
 @media only screen and (min-width:769px) and (max-width:992px){
    section.home{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        place-items: center;
        margin-top: 6rem;
    }
    section.home .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }
    section.home .home_left .home_content{
        margin: 0 auto;
    }
    section.home .home_left .btn-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    section.home .home_left .home-sci{
        margin-left: 32rem;
        margin-top: 7rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-end; */
        gap: 1rem;
        
    }

    section.home .home_left .home_content .text_animation h3{
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0;
    }
    section.home .profile-area .inner-circle img{
        width: 15rem;
        height: 15rem;
        margin: 55px auto;

    }
    section.home .home_left h1{
        font-size: 1.45rem;
        margin: auto;
    }
 }

 @media only screen and (min-width:993px) and (max-width:1024px){
    /* section.home .home_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 6rem;
    } */
    section.home .home_left .btn-box{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }

    section.home .home-sci{
        margin-left:12rem;
    }
 }