nav{
    background-color: rgb(34 197 94);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 11;
}

.window-scroll{
    background-color: rgb(74 222 128);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}


.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}


nav button{
    display: none;
}


.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav_menu a{
    font-size: 0.9rem;
    transition: all 400ms ease;
}

.nav_menu a:hover{
    color: #424890;
}




@media only screen and (min-width:0px) and (max-width:319px){
    nav .nav_container button{
        display: block;
        background-color: transparent;
        font-size: 1.8rem;
        color: #fff;
        cursor: pointer;
    }
    nav .nav_container button#close-menu-btn{
        display: none;
    }
    nav .nav_container .nav_menu{
        position:fixed;
        top:5rem;
        right:5%;
        /* background-color: red; */
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap:0;
        display: none;
    }
    nav .nav_container .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    nav .nav_container .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    nav .nav_container .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    nav .nav_container .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }
    /* nav .nav_container .nav_menu li:nth-child(5){
        animation-delay: 800ms;
    }
    nav .nav_container .nav_menu li:nth-child(6){
        animation-delay: 1000ms;
    }
    nav .nav_container .nav_menu li:nth-child(7){
        animation-delay: 1200ms;
    } */
    @keyframes animateNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    nav .nav_container .nav_menu li a{
        background-color: #6c63ff;
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        transition: all 400ms ease;
    }

    nav .nav_container .nav_menu li a:hover{
        background-color: #424890;
        color: #fff;
    }

}